.link {
  background-color: #39E09B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  max-width: 50%;
  font-weight: bold;
  color: #263238;
  margin-bottom: 0px;
}

.music-link {
  background-color: #DADEE0; /* Green */
  border: none;
  color: #263238;
  max-width: 50%;
  padding: 10px 32px;
  border-bottom: 2px solid #adadad;
  font-weight: bold;
  /* border-radius: 5px; */
}