body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-container {
  text-align: center;
  margin-top: 40px;
}

.link {
  border: none;
  color: white;
  padding: 15px 125px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  max-width: 50%;
  font-weight: 400;
  color: #263238;
  margin-bottom: 0px;

}

.music-link {
  background-color: #ececec;
  border: none;
  color: #263238;
  padding: 10px 32px;
  border-bottom: 2px solid #adadad;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}